.clear {
    content: '';
    clear: both;
}
* {
    margin: 0%;
    border: 0;
    font-family: 'Oswald', sans-serif;
}

/* 
    NAVIGATION BAR
*/
nav {
    width: 100%;
    height: 100px;
    background-color: aliceblue;

}

.img1 {
    width: 100px;
    height: 100px;

}

ul {
    list-style-type: none;
    float: right;
    margin-top: 35px;
}

li {

    display: inline;
    padding: 40px;


}

li a {
    text-decoration: none;
    color: black;

}

li a:hover {
    display: inline-block;
    position: relative;
    color: gray;
    text-decoration: underline;

}

.main {
    position: relative;
    text-align: center;
    color: white;
}

.header {
    text-decoration: none;
    position: absolute;
    top: 260px;
    left: 50px;
    color: white;
    font-family: fantasy;
    font-size: 50px;
}

.img2 {
    width: 100%;
    height: 700px;
    border-radius: 10px;

}


/*Index HTML PAGE*/
.section {
    background-color: #73C2FB;
    align-items: center;
    width: 100%;
    margin: auto;
    text-align: center;
    height: 578px;
    color: white;

}

.section img {
    float: right;
    width: 60%;
}

.section h2:hover {
    color: black;
    transition: 0.8s;
}

/* 
    FOOTER.
*/
.footer {
    height: 250px;
    border-radius: 10px;
    width: 100%;
    background-color: aliceblue;
}

.footer h3 {
    text-align: center;
    padding: 10px;
    position: relative;
}

/*Social links and icons*/
.social {
    text-align: center;
}

.social li {
    display: inline-flex;
    padding: 15px;
}

/*Explore page video settings*/
#frame {
    width: 100%;
    height: 100vh;
}
/*
 FOOD SECTION 
*/

.food {
    display: flex;
}

.fConainer {
    align-items: center;
    background-color: gray;
    width: 100%;
    margin: auto;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.fConainer2 {
    padding: 2px;
    align-items: center;
    background-color: gray;
    width: 500px;
    margin: auto;
    color: white;
    text-align: center;
    height: 568px;
    border-radius: 10px;
    float: left;
}

.food1 img {
    display: flex;
    float: right;
    width: 60%;
}
/*
     SIGN UP FORM SECTION.
*/


.form {
    background-color: lightgrey;
    width: 200px;
    padding: 100px;
    height: 400px;
    opacity: 0.9;
    margin: auto;
    border-radius: 20px;
    top: 30px;

}

input {
    width: 100%;
    display: inline-block;
    border-radius: 3px;
    padding: 10px;
    margin: 30px 0;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    padding: 12px;
    background-color: green;
    margin: 30px 0;
    cursor: pointer;
}
/*Hover over button makes it change to a different color*/
.submit:hover {
    background-color: blue;
}

#image-container {
    background-color: #73C2FB;
    width: 100%;
    height: 600px;
}
/* Tablet Styles */

@media (max-width: 768px) {
    
section {
        height: 600px;
        padding: 20px;  
    }

    .section h2 {
        font-size: 6px;
    }

    .section img {
        width: 100%;
        height: auto;
    }

    .food3{
        width: 100%;
    }
    
    nav {
        height: auto;
    }

    ul {
        float: none;
        margin-top: 0;
        text-align: center;
    }

    li {
        display: block;
        padding: 10px;
    }

    .img2 {
        height: auto;
    }

    .section img {
        width: 100%;
        float: none;
    }

    .fConainer2 {
        width: 100%;
        float: none;
    }
}

/* Mobile Styles */

@media (max-width: 480px) {
    #header{
        font-size: 20px;
    }
    section {
        height: 0px;
        padding: 20px;
        }
    
    .section h2 {
        font-size: 15px;
        }
    
    .section img {
            width: 100%;
            height: auto;
        }

    .header {
        top: 160px;
        font-size: 40px;
    }

    .img2 {
        height: auto;
    }

    .section img {
        width: 100%;
        float: none;
    }

    .fConainer2 {
        width: 100%;
        float: none;
        height: auto;
    }

    .form {
        width: 80%;
        padding: 50px;
    }
}
